.modal {
    display: none;
    position: fixed;
    z-index: 1; /* Coloca acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo translúcido */
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid var(--cor1);
    width: 50%;
    text-align: center;
    border-radius: 5px;
}

.modal-header {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: var(--cor1);
}

.modal-body {
    margin: 20px 0;
    color: var(--cor1);
}

.modal-footer {
    margin-top: 20px;
}

.btn-secondary {
    background-color: var(--cor1);
    color: #fff;
}

.btn-danger {
    background-color: var(--cor5);
    color: #fff;
}